body {
    background-image: url('/background.jpg');
    color: white;
}

.apresentacao-inicial {
    margin-left: 30px;
}

.info-inicial {
    float: left;
    padding-left: 10%;
    padding-top: 15%;
    font-size: 17px;
}

h2.titulo-sistema {
    font-size: 25px;
}

.li-info:first-child {
    margin-top: 25px;
}

.li-info {
    margin-top: 12px;
}

.download-sistema {
    clear: left;
    position: relative;
    padding-left: 60%;
    bottom: 63px;
}

.botao-download {
    position: relative;
    top: 10px;
}

footer {
    position: relative;
    top: 335px;
    text-align: center;
}
